<header>
    <div class="container-fluid clearfix">

        <a href="http://stiscreening.com.au/">
                <img src="assets/logo.jpg" title="STIscreening" alt="" />
            </a>
        <a href="http://stiscreening.com.au/" class="navbar-brand"><b>STI</b>Screening</a>

        <div class="circletag1" style="display:inline; padding-left:130px;">
            <a href="http://www.facebook.com" title=" Our vision for the next phase of development is to 
                    ‘Touch a Billion Lives’."><img src="assets/svg/387579.svg" class="img-circle"></a>&nbsp;&nbsp;&nbsp;
            <a href="http://www.facebook.com" title="We are committed to the achievement and maintenance of excellence in education,
                     research and healthcare for the benefit of humanity”."> <img src="assets/svg/472522.svg" class="img-circle"></a>&nbsp;&nbsp;&nbsp;
            <a href="http://www.facebook.com" title="Saving & Enriching Lives">  <img src="assets/svg/seth3.png" class="img-circle"></a>&nbsp;&nbsp;&nbsp;
            <a href="http://www.facebook.com" title=" Commit to 'best outcomes and experience' for our patients.
                    Treat patients and their caregivers with compassion,
                     care and understanding.Our patients' needs will come first"><img src="assets/svg/119067.svg" class="img-circle"></a>
        </div>

        <!-- <i class="fa fa-user-md" style="    font-size: 20px;
                color: white;"></i> -->


        <div class="header-right clearfix" style="float:right;">
            <div class="circletag2" style="float:right;padding-right:60px">
               <br>
                <a href="http://www.facebook.com" title="Facebook"><img src="assets/svg/176686.png"  style="height:30px" class="img-circle"></a>&nbsp;
                <a href="https://accounts.google.com/signin/v2/identifier?service=oz&passive=1209600&continue=https%3A%2F%2Fplus.google.com%2Fup%2F%3Fcontinue%3Dhttps%3A%2F%2Fplus.google.com%2Fpeople%26gpsrc%3Dgplp0&flowName=GlifWebSignIn&flowEntry=ServiceLogin"
                    title="Google"> <img src="assets/svg/124013.svg"  style="height:30px" class="img-circle"></a>&nbsp;
                <a href="http://www.twitter.com" title="Twitter"><img src="assets/svg/124021.svg"  style="height:30px" class="img-circle"></a>&nbsp;
                <a href="https://login.skype.com/login?message=signin_continue" title="Skype"><img src="assets/svg/124038.svg"  style="height:30px" class="img-circle"></a>
            </div>
            
            <!-- <i class="fa fa-home" style="font-size: 20px;
            color: white;"></i> <a href="../../index2.html" class="navbar-brand">Home</a>

            <i class="fa fa-info-circle" style="font-size: 20px;
            color: white;"></i> <a href="../../index2.html" class="navbar-brand">About</a>

            <i class="fa fa-handshake-o" style="font-size: 20px;
            color: white;"></i> <a href="../../index2.html" class="navbar-brand">Services</a>

            <i class="fa fa-phone-square" style="font-size: 20px;
            color: white;"></i> <a href="../../index2.html" class="navbar-brand">Contact</a> -->
            <!-- <!-- <div class="topbar_userinfo">
                <div class="top-userinfo-in">
                    <!-- <div class="topbar_usercircle">S</div> -->
            <!-- <div class="topbar_username">{{loggedInUserName}} </div>
                    <div class="user-arrow">
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </div>
                </div>
   -->
                 
            <!-- <svg width="100%" height="25px">
                <g id="R1" transform="translate(250 250)"> 
                  <ellipse rx="100" ry="0" opacity=".3" style="fill:rgb(255, 255, 13)">
                  <animateTransform attributeName="transform" type="rotate" dur="7s" from="0" to="360" repeatCount="indefinite" />
                  <animate attributeName="cx" dur="8s" values="-20; 220; -20" repeatCount="indefinite" />
                  <animate attributeName="ry" dur="3s" values="10; 60; 10" repeatCount="indefinite" />
                  </ellipse>
                </g>
                <use xlink:href="#R1" transform="rotate(72 390 150)" />
                <use xlink:href="#R1" transform="rotate(144 390 150)" />
                <use xlink:href="#R1" transform="rotate(216 390 150)" />
                <use xlink:href="#R1" transform="rotate(288 390 150)" />
                </svg> -->
        </div>
    </div>


</header>
<!-- <a href="../../index2.html" class="navbar-brand"><b>STI</b>Screening</a> -->









<!-- sidebar -->
<aside class="sidebar">


    <div class="circletag" id="nay">
        <img src="assets/svg/Doctor symbol.svg" title="{{loggedInUserName}}" class="img-circle">
    </div>
    <br>
    

    <ul class="menu">
        <!-- <li>
            <a href="#">
                <i class="icon">
                    <img src="assets/svg/dashboard.svg" alt="" />
                </i> Dashboard
            </a>
        </li> -->
        <!-- <li>
            <a href="#">
                <i class="icon">
                    <img src="assets/svg/increased-revenue.svg" alt="" />
                </i> Total Revenue
            </a>
        </li> -->
        <!-- <li>
            <a href="#">
                <i class="icon">
                    <img src="assets/svg/group.svg" alt="" />
                </i> Total Referrals
            </a>
        </li> -->
        <!-- <li>
            <a href="#">
                <i class="icon">
                    <img src="assets/svg/copy-document.svg" alt="" />
                </i> Audit Logs
            </a>
        </li> -->
         <div class="topbar_username"><strong>{{loggedInUserName}}</strong> </div>
         <br><br>
        <li>
            <a routerLink="/Screenings">
                <i class="icon">
                <i class="fa fa-map-marker"></i>
                   
                </i> All Referrals
            </a>
        </li>

        <li>
            <a routerLink="/get-tested">
                <i class="icon">
                <i class="fa fa-plus-square"></i>
                    
                </i> Get Tested
            </a>
        </li>

        <li>
            <a routerLink="/sorted-data">
                <i class="icon">
                <i class="fa fa-heartbeat"></i>
                   
                </i> sorted-data
            </a>
        </li>

        <li>
            <a routerLink="/Audit-Logs">
                <i class="icon">
                        <i class="fa fa-quora"></i>
                </i> Audit Data
            </a>
        </li>

        <li>
            <a routerLink="/Dashboard-data">
                    <i class="icon">
                            <i class="fa fa-plus-square"></i>
                    </i> Dashboard Data
                </a>
        </li>


        <li>
            <a (click)="LogoutClick()" style="cursor:pointer">
                <i class="icon" >
                    <!-- <img src="assets/svg/group.svg" alt="" /> -->
                    <i class="fa fa-key"></i>
                </i> Logout
            </a>
        </li>
    </ul>
</aside>